body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

.seletor-arquivos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 4px;
  box-shadow: 4px 4px 8px #888888;
}

.form_texto {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  margin: 0px;
}

.form_input {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  /* height: 24px; */
}

.footer_master {
  height: 100px;
  padding: 1rem;
  margin: 2px;
  border: 1px solid #000;
  background-color: gray;
}

.header_container {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column dense;
  grid-template-areas: 'header_logo header_navbar';
  justify-content: space-around;
  align-content: center;
  justify-items: stretch;
  align-items: center;
  height: 100;
  margin: 2px;
  border: 1px solid #000;
}

.header_navbar {
  grid-area: header_navbar;
}

.header_logo {
  grid-area: header_logo;
}

.navbar_master {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: center;
  justify-items: stretch;
  align-items: center;
}

.navbar1 {
  grid-area: 1 / 1 / 2 / 2;
}

.navbar2 {
  grid-area: 2 / 1 / 3 / 2;
}

.cvc_border {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #888888;
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 5px;
}

.filaprocessos {
  font-size: 14px;
  justify-content: space-around;
  align-content: center;
  justify-items: stretch;
  align-items: center;
}

.icone:hover {
  cursor: pointer;
}

.pdfviewer {
  width: 900px;
  height: 1000px;
  border: 1px solid #000;
  border-radius: 5px;
}

.formulario {
  padding: 5px 10px;
}

.formulario_input {
  margin: 0px 15px;
  padding: auto;
  width: 500px;
}
