/* body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: blue;
} */

/* .header {
  display: block;
  border: 1px solid #000;
  background-color: aquamarine;
  width: 100%;
}

.formulario {
  display: inline-block;
  padding: 0.5em 0.5em;
  background-color: green;
  width: 45%;
  height: 800px;
  margin-top: -100px;
}

.pdf {
  display: inline-block;
  padding: 0.5em 0.5em;
  background-color: gray;
  width: 50%;
}

.footer {
  display: block;
  border: 2px solid #000;
  background-color: yellow;
  width: 100%;
} */
